/* ---------- Main Settings ---------- */
/* Nice work using CSS variables! */
:root{
    --background: #F5F3EF;
    --background-dark: #000000;
    --card: #FFFFFF;
    --accent: #FEBD2F;
    --text-primary: #000000;
    --text-secondary: #646464;
    --text-reversed: #FFFFFF;
    --outline: #DCDCDC;
}

body{
    background-color: var(--background);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    font-family: 'Roboto Serif';
    font-style: normal;
    font-weight: 500;
    font-size: 64px;
    line-height: 75px;
}

h2{
    font-family: 'Roboto Serif';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
}

h3{
    font-family: 'Roboto Serif';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
}

a, button{
    text-decoration: none;
}

/* ---------- Layout ---------- */

/* Good job on using Grid and flex box. However, there’s room for improvement. 
You added a margin on the top and bottom for most grid items. 
You can take advantage of declaring the grid-template-rows for better code quality and for easier managing. */

/* Grid template areas haven’t been used to display items at different positions in different viewports. */
.grid-container{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 auto;
    width: 100%;
}

/* ---------- Menu ---------- */

.menu{
    grid-column: 1 / -1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    height: 100px;
    padding-inline: 20px;
}

/* ---------- Navigation Bar ---------- */

nav{
    display: flex;
    align-items: center;
}

nav a{
    color: var(--text-primary);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}

nav :last-child{
    margin-left: 20px;
}

/* ---------- Menu right side ---------- */


.menu img{
    height: 40px;
}

.menu button{
    background-color: var(--background-dark);
    color: var(--text-reversed);
    width: 130px;
    height: 48px;
    border: none;
    border-radius: 28px;
}

.menu i{
    display: none;
}

/* ---------- Header ---------- */

.header{
    grid-column: 1 / -1;
    display: flex;
    justify-content: space-between;
}

.header-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    gap: 32px;
    margin: 100px 80px;
    padding: 0;
}

.header-left h1{
    color: var(--text-primary);
    padding: 20px;
    margin: 0;
    padding: 0;
}

.header-left p{
    color: var(--text-secondary);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    margin: 0;
    padding: 0;
}

.header-right{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 70%;
    margin: 100px 80px;
}

.header-right img{
    max-width: 100%;
    border-radius: 40px;
}

/* ---------- Card´s ---------- */

.card-container{
    grid-column: 1 / -1;
    max-width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 60px;
    margin-top: 118px;
    margin-bottom: 118px;
}

.card{
    background-color: var(--card);
    width: 330px;
    height: 324px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-inline: 40px;
    border-radius: 40px;
    box-shadow: 0px 2px 24px rgba(0, 0, 0, 0.05);
}



.card p{
    color: var(--text-secondary);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
}

.card button{
    background-color: var(--card);
    color: var(--text-primary);
    width: 143px;
    height: 48px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    border: 1px solid var(--outline);
    border-radius: 50px;
    margin-bottom: 40px;
}

.card-1{
    background-color: var(--accent);

}

.card-1 h2{
    margin-top: 0;
    padding: 41px 40px 95px 40px;
}

.card fieldset{
    border: none;

}

/* Even-though it looks like you achieved placing the logo above the card, it is not the proper way.
You should give the icon a position of absolute, this will bring the icon out of the document flow.
Then you need to give the card a position of relative in order for the icon to be placed in relative to the card. */
.card legend{
    float: right;
    position: relative;
    top: -46px;
}

/* ---------- Footer ---------- */


.footer{
    background-color: var(--accent);
    grid-column: 1 / -1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
}

.footer img{
    height: 32px;
}



